{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <h1 class="text-center">Messagerie</h1>
        <h2>Boite de reception</h2>
        <p>Vous avez {{ app.user.received|length }} messages</p>
        <div class="col-12">
            <div class="col-3">De</div>
            <div class="col-3">Sujet</div>
            <div class="col-3">Date</div>
            <div class="col-3">Actions</div>
            {% for message in app.user.received %}
                {% if message.isRead == false %}
                    {% set bold = 'fw-bold' %}
                {% else %}
                    {% set bold = '' %}
                {% endif %}
                <div class="col-3 {{bold}}">{{ message.sender.email }}</div>
                <div class="col-3 {{bold}}"><a href="{{ path('read', {'id': message.id}) }}">{{ message.title }}</a></div>
                <div class="col-3 {{bold}}">{{ message.createdAt|date('d/m/Y') }}</div>
                <div class="col-3"><a href="{{ path('delete', {'id': message.id}) }}">Delete</a></div>
            {% endfor %}
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                Voir mes dossiers
            </a>  
            <a href="{{ path('send') }}" class="btn btn-primary">Envoyer un message</a>  
        </div>
    </div>
</section>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="#" class="list-group-item-action-active">Accueil</a>
        </div>
        <div class="list-group">
            <a href="{{ path('received') }}" class="list-group-item-action">Boite de reception</a>
        </div>
        <div class="list-group">
            <a href="{{ path('sent') }}" class="list-group-item-action">Eléments envoyés</a>
        </div>
    </div>
</div>
{% endblock %}
